<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PopCircleMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9DF2BEF1BBB97B100439F9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9DF2C0B1BBB97B100439F9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9DF2C161BBB97B100439F9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
